* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman, Arial, Helvetica; 
}


body {
    min-height: 100vh;
    background: linear-gradient(90deg, #A3F0FF, #A3BCFF); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.container {
    width: 100%;
    max-width: 300px; 
    text-align: center;
    padding: 30px 20px;
}


.profile-img {
    width: 60px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 15px;
}


h1 {
    font-size: 26px;
    margin-bottom: 8px;
}


.bio {
    font-size: ; 18px;
    opacity: 0.85;
    margin-bottom: 25px;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.link-btn {
    background: #3624A3;
    border-radius: 10px;
    padding: ; 2px 10px
    text-decoration: none;
    color: ; white;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    transition: all 0.3s ease;
}

.link-btn img {
    width: 20px;
    height: 20px;
    Choose a size of image (note : should ba a square so x = y) */
}

.link-btn:hover {
    background: white;
    color: #c33764;
    transform: scale(1.05);
}

footer {
    margin-top: 30px;
    font-size: 12px;
    opacity: 0.7;
}

/* Feel free to change the other parameters and do tests with the css */
